#root {
    height: 100%;
    display: grid;
    grid-template-columns: 8% 29% 65% 8%;
    grid-template-rows: 17% auto;
    grid-template-areas: ". header header ."". aside main ."". footer footer .";

    @media (max-width: 768px) {

        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10% auto;
        grid-template-areas: ". header ."". main . "". footer .";

        .header {
            grid-area: header;
        }

        .main {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -15%);
        }

        .footer {
            grid-area: footer;
        }
    }
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
    align-self: start;
    justify-self: start;
}

.footer {
    grid-area: footer;
}