//logo color variable
$logo-main-color: #d74199;
$logo-fill-color: rgba($logo-main-color, 1);
$logo-0:rgba($logo-main-color, 0);
$logo-03:rgba($logo-main-color, 0.3);
$logo-06:rgba($logo-main-color, 0.6);