@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Zen+Dots&display=swap');

.h1 {
    font-family: 'Zen Dots', cursive;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
        margin-left: 1rem;
        font-size: 2rem;
    }
}

.h2 {
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    font-size: 3.5rem;
    color: white;

    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

.listItem {
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.6;
    color: white;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        margin: 0;
        font-size: 1.5rem;
    }

}

.active {
    color: orange;
}